<!-- <div *ngIf="course">

  <h2>{{ course.title }}</h2>
  <p>{{ course.desc }}</p>

  <button>Enroll Now</button>

</div> -->

<div *ngIf="course" class="course-container">

  <h2>{{ course.title }}</h2>

  <p>{{ course.desc }}</p>

  <hr>
 
<!-- <div class="plan-card" (click)="selectPlan('A')">
  <h3>Plan A</h3>
  <p>Videos + Test Series + QBank</p>
  <p>₹4999</p>
</div>

<div class="plan-card" (click)="selectPlan('B')">
  <h3>Plan B</h3>
  <p>Test Series + QBank</p>
  <p>₹2999</p>
</div>

<div class="plan-card" (click)="selectPlan('C')">
  <h3>Plan C</h3>
  <p>Only Test Series</p>
  <p>₹999 (3 / 6 / 12 months)</p>
</div> -->
  <p>{{ course.content }}</p>

  <button class="enroll-btn">Enroll Now</button>

</div>
<p>course-details works!</p>
<p>You selected: {{ courseId }}</p>
<!-- <h2>{{ courseId | uppercase }} Plans</h2> -->

<div class="plan-card" (click)="selectPlan('A')">
  <h3>Plan A</h3>
  <p>Videos + Test Series + QBank</p>
  <p>₹4999</p>
</div>

<div class="plan-card" (click)="selectPlan('B')">
  <h3>Plan B</h3>
  <p>Test Series + QBank</p>
  <p>₹2999</p>
</div>

<div class="plan-card" (click)="selectPlan('C')">
  <h3>Plan C</h3>
  <p>Only Test Series</p>
  <p>₹999 (3 / 6 / 12 months)</p>
</div>